<section class="relative inline-block pt-10 sm:text-xl md:text-3xl lg:text-6xl sm:pr-16 md:pr-24 lg:pr-32 pointer-events-none">
    <img src="/images/santa_rosa.png" alt class="w-santa_rosa">
</section>