<section class="relative inline-block pt-10 text-3xl lg:text-6xl sm:pr-16 md:pr-24 lg:pr-32 pointer-events-none">
    <img src="/images/santa_rosa.png" alt class="w-santa_rosa lg:mt-11/12 ml-3/12 md:ml-9/12 lg:ml-0 mb-1/12">
</section>