<section class="text-light relative inline-block md:mr-24 lg:mr-40 pointer-events-none">
  
  <div class="text-white text-3xl pb-6">About Us</div>
  <div class="relative w-full leading-10 text-justify text-white text-xs xl:text-s
  pointer-events-auto md:tracking-wide"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ event_info.about_info }}</div>

</section>