<section class="lg:-pr-24 md:pl-24 sm:px-16 px-10 text-light relative inline-block md:mr-24 lg:mr-32 pointer-events-none">
  
  <div class="text-seafoam text-3xl pb-6">About Us</div>
  <div class="indent max-w-screen-md relative w-full leading-10 text-justify text-seafoam text-xs xl:text-s
  pointer-events-auto md:tracking-wide"> {{ event_info.about_info }}</div>
</section>