<section class="relative inline-block text-4xl lg:text-5xl top-1/12">

	<a href="portal.sbhacks.com" class="inline-block mx-3 px-5 py-3 border-seafoam border-2 rounded-md cursor-pointer bg-black bg-opacity-25 lg:bg-transparent hover:bg-button-red hover:border-0 transition ease-in-out duration-500">
		<img src="/images/wheel.png" alt class="w-wheel">
		<div class="text-seafoam text-sm lg:text-lg text-center my-1">APPLY</div>
	</a>

	<a href="sbhacks.com/mentor" class="inline-block mx-3 px-5 py-3 border-seafoam border-2 rounded-md cursor-pointer bg-black bg-opacity-25 lg:bg-transparent hover:bg-button-blue hover:border-0 transition ease-in-out duration-500">
		<img src="/images/anchor.png" alt class="w-anchor">
		<div class="text-seafoam text-sm lg:text-lg text-center my-1">MENTOR</div>
	</a>

	<img src="images/sailor_otter_telescope.png" alt class="w-sailor_otter_telescope float-right my-5 lg:m-10 absolute lg:relative left-11/12 lg:left-0">

</section>