
{% macro qna_block(info) %}
<div 
	class="faq-q lg:mx-8 lg:w-5/12"
	x-data="{show:false}"
	@click="show = !show"
	:aria-expanded="show ? 'true' : 'false'"
	:class="{'active': show}"
>
	<div class="hover:animate-pulse hover:bg-white hover:bg-opacity-10">
		<span class="ml-1">{{info.q}}</span>
		<span class="text-4xl align-middle">
			<img alt 
				class="w-marker_static inline-block mx-2"
				:src="show ? '/images/marker_static_up.png' : '/images/marker_static.png'"
			>
		</span>
		<hr>
	</div>

	<div class="faq-a" x-show.transition.duration.300ms="show">
	    {{info.a}}
	    {% if info.link %}
			<a href={{info.link.url}} class="text-highlight">{{info.link.text}}</a>
		{% endif %}
	</div>

</div>
{% endmacro %}

{% macro social_media_handle(platform) %}
<a href={{platform.url}} class="text-3xl hover:bg-white hover:bg-opacity-25">
	<img src="images/icon_{{platform.name}}.png" alt class="w-social_media_icon m-3 transform hover:scale-105">
</a>
{% endmacro %}

{% macro sponsor_tier(sponsors, lg=0, md=0, sm=0) %}
{% if lg %}
<div class="sponsor-tier md:flex-row text-6xl">
	{% for sponsor in sponsors %}
	<a href={{sponsor.url}} target="_blank" class="transform hover:scale-105"> <img src="/images/sponsors/{{sponsor.logo}}" alt class="w-96 md:mx-10 my-10"> </a>
	{% endfor %}
</div>
{% elif md %}
<div class="sponsor-tier md:flex-row text-5xl lg:text-6xl">
	{% for sponsor in sponsors %}
	<a href={{sponsor.url}} target="_blank" class="transform hover:scale-105"> <img src="/images/sponsors/{{sponsor.logo}}" alt class="w-72 md:mx-10 my-8 lg:my-10"> </a>
	{% endfor %}
</div>
{% elif sm %}
<div class="sponsor-tier md:flex-row text-5xl lg:text-6xl">
	{% for sponsor in sponsors %}
	<a href={{sponsor.url}} target="_blank" class="transform hover:scale-105"> <img src="/images/sponsors/{{sponsor.logo}}" alt class="w-40 md:mx-10 my-8 lg:my-10"> </a>
	{% endfor %}
</div>
{% endif %}

{% endmacro %}
