
{% macro qna_block(info, kwargs) %}
<div 
	class="faq-q lg:mx-8 lg:w-5/12"
	x-data="{show:false}"
	@click="show = !show"
	:aria-expanded="show ? 'true' : 'false'"
	:class="{'active': show}"
>
	<div class="hover:animate-pulse hover:bg-white hover:bg-opacity-10">
		<span class="ml-1">{{info.q}}</span>
		<span class="text-4xl align-middle">
			<img alt 
				class="w-marker_static inline-block mx-2"
				:src="show ? '/images/marker_static_up.png' : '/images/marker_static.png'"
			>
		</span>
		<hr>
	</div>

	<div class="faq-a" x-show.transition.duration.300ms="show">
	    {{info.a}}
	    {% if info.link %}
			<a href={{info.link.url}} class="text-highlight">{{info.link.text}}</a>
		{% endif %}
	</div>

</div>
{% endmacro %}