<section class="relative inline-block text-3xl md:text-4xl lg:text-5xl md:mr-10 lg:mr-64 pointer-events-none">
  <img src="/images/logo_map_cloud.png" alt class="invisible w-logo_map_cloud">
  <img src="/images/logo_map_cloud_shade.png" alt class="absolute top-0 w-logo_map_cloud blend-multiply z-30">
  <img src="/images/logo_map_cloud.png" alt class="absolute top-0 w-logo_map_cloud z-40">
  <img src="/images/island.png" alt class="absolute top-9/12 left-1/6 w-island">
  <img src="/images/cloud_back_shade.png" alt class="absolute bottom-1/6 left-7/12 z-20 blend-multiply w-cloud_back">
  <img src="/images/cloud_back.png" alt class="absolute bottom-1/6 left-7/12 z-30 w-cloud_back">
  <img src="/images/cloud_front_shade.png" alt class="absolute bottom-7/12 left-1/3 z-20 blend-multiply w-cloud_front">
  <img src="/images/cloud_front.png" alt class="absolute bottom-7/12 left-1/3 z-30 w-cloud_front">
  <div class="absolute top-1/2 w-full text-center text-brown-900 z-40 text-base md:text-lg lg:text-2xl pointer-events-auto">{{ event_info.date_location }}</div>
</section>