
<a href="mailto:team@sbhacks.com" class="text-3xl">
	<img src="images/icon_email.png" class="w-social_media_icon m-3 transform hover:scale-105">
</a>

<a href="facebook.com/ucsbhacks" class="text-3xl">
	<img src="images/icon_facebook.png" class="w-social_media_icon m-3">
</a>