<section class="relative inline-block w-8/12 lg:w-10/12 mx-2/12 lg:mx-1/12 mb-3/12 lg:mb-1/12 rendering-auto">
  <div class="text-seafoam text-3xl pb-6 mb-4 md:mb-12">Sponsors</div>
  <div class="flex flex-col items-center justify-center lg:-mt-8">
    <!-- Tier 3 sponsors -->
    <!-- <div class="flex flex-col flex-wrap md:flex-row items-center justify-center text-6xl m-5 w-full">
    		<a href="https://firebase.google.com/" target="_blank"> <img src="/images/sponsors/firebase.png" alt class="w-firebase_logo md:mx-5 mb-8 md:mb-0"> </a>
    		<a href="https://www.teladoc.com/" target="_blank"> <img src="/images/sponsors/teladoc.svg" alt class="w-teladoc_logo md:mx-5 mb-8 md:mb-0"> </a>
            <a href="https://www.invoca.com/" target="_blank"> <img src="/images/sponsors/invoca.png" alt class="w-invoca_logo md:mx-10 mb-8 md:mb-0"> </a>
            <a href="https://engineering.ucsb.edu/" target="_blank"> <img src="/images/sponsors/coe.png" alt class="w-coe_logo md:mx-10"> </a>
    </div> -->
    {{ comp.sponsor_tier(event_info.sponsors.tier_3, lg=1) }}


    <!-- Tier 2 sponsors --> 
    <!-- <div class="flex flex-col md:flex-row items-center justify-center text-5xl lg:text-6xl pt-8 lg:pt-4 md:pt-8 m-5">
    		<a href="https://www.blockstack.org/" target="_blank"> <img src="/images/sponsors/stacks_white.svg" alt class="w-stacks_logo md:mx-6 pt-10 md:pt-0"> </a>
    		<a href="https://atsign.com/" target="_blank"> <img src="/images/sponsors/atcompany_white.svg" alt class="w-atcompany_logo md:mx-6 pt-10 md:pt-0"> </a>
    </div> -->
    {{ comp.sponsor_tier(event_info.sponsors.tier_2, md=1) }}

    <!-- Tier 1 sponsors -->
   <!--  <div class="flex flex-row flex-wrap items-center justify-center text-5xl lg:text-6xl pt-10 lg:pt-16 md:pt-16 m-5">
    		<a href="https://www.corsair.com/" target="_blank"> <img src="/images/sponsors/corsair_white.png" alt class="w-corsair_logo md:mx-4 mb-6 md:mb-0"> </a>
    		<a href="https://repl.it/" target="_blank"> <img src="/images/sponsors/replit_light.svg" alt class="w-replit_logo md:mx-4 mb-6 md:mb-0"> </a>
    		<a href="https://www.axure.com/" target="_blank"> <img src="/images/sponsors/axure.svg" alt class="w-axure_logo md:mx-4 mb-6 md:mb-0"> </a>
    		<a href="https://rstudio.com/" target="_blank"> <img src="/images/sponsors/rstudio.png" alt class="w-rstudio_logo md:mx-4 mb-6 md:mb-0"> </a>
    </div> -->
    {{ comp.sponsor_tier(event_info.sponsors.tier_1, sm=1) }}
    
  </div> 
</section>