<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" media="screen">
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<section class="relative inline-block w-8/12 lg:w-10/12 mx-2/12 lg:mx-1/12 mb-3/12 lg:mb-1/12 rendering-auto">
  <div class="text-seafoam text-3xl pb-6 mb-4 md:mb-12">Sponsors</div>

  <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
    <div class="carousel-cell">a</div>
    <div class="carousel-cell">b</div>
    <div class="carousel-cell">c</div>
  </div>

  <div class="flex flex-col items-center justify-center lg:-mt-8">
    <!-- Tier 3 sponsors -->
    {{ comp.sponsor_tier(event_info.sponsors.tier_3, "lg") }}


    <!-- Tier 2 sponsors --> 
    {{ comp.sponsor_tier(event_info.sponsors.tier_2, "md") }}

    <!-- Tier 1 sponsors -->
    {{ comp.sponsor_tier(event_info.sponsors.tier_1, "sm") }}
    
  </div> 
</section>