@font-face {
  font-family: "Nexa Bold";
  src: url("/fonts/Nexa Bold.otf") format("opentype");
}

.w-wax_seal_submit_animation {
  transition: transform 0.5s;
}

.w-wax_seal_submit_animation:hover {
  transform: translateX(-50%) scale(1.15);
}

.carousel-cell {
  width: 100%;
  height: 875px;
  max-height: 875px;
  background: none;
  border-radius: 5px;
  align-items: center;
}
.carousel-cell img {
  display: block;
  max-width: 100%;
  align-items: center;
}

.carousel-cell-text {
  display: block;
  align-items: center;
}

.flickity-page-dots .dot {
  border: 0px none transparent;
  background: transparent;
  opacity: 0;
}

.flickity-page-dots .dot.is-selected {
  background: transparent;
}

@media screen and (min-width: 800px) {
  /* half-width cells for larger devices
  768 default */
  .carousel-cell {
    width: 100%;
    height: 1000px;
    max-height: 1000px;
  }
  .carousel-cell img {
    max-width: 50%;
  }

  .flickity-page-dots .dot {
    border: 2px solid white;
  }

  .flickity-page-dots .dot.is-selected {
    background: white;
  }
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .indent {
    text-indent: 1.5em;
  }
}

@layer components {
  .faq-q {
    @apply text-sm w-full flex-none my-3 cursor-pointer;
  }

  .faq-a {
    @apply text-xs text-prismarine my-2;
  }

  .sponsor-tier {
    @apply flex flex-col flex-wrap items-center justify-center w-full transition-transform duration-500 ease-in-out;
  }
}
