@font-face {
  font-family: "Nexa Bold";
  src: url("/fonts/Nexa Bold.otf") format("opentype");
}

.w-wax_seal_submit_animation {
  transition: transform 0.5s;
}

.w-wax_seal_submit_animation:hover {
  transform: translateX(-50%) scale(1.15);
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .indent {
    text-indent: 1.5em;
  }
}

@layer components {
  .faq-q {
    @apply text-sm w-full flex-none my-3 cursor-pointer;
  }

  .faq-a {
    @apply text-xs text-prismarine my-2;
  }
}
