---
title: SB Hacks VII
---

{% extends "layouts/base.njk" %}

{% block body %}
<main class="h-screen rendering-pixelated overflow-x-hidden">
	<div class="fixed z-50 flex flex-row md:flex-col left-1/2 md:left-0 transform -translate-x-1/2 md:translate-x-0 bottom-0 md:bottom-auto md:top-1/2 md:ml-3">
		{% include "social_media.njk" %}
	</div>
  <div class="lg:p-10 bg-gradient-to-b from-sea-light to-sea-dark h-full flex items-center justify-center flex-col lg:flex-row">
    {% include "event_info.njk" %}
    {% include "apply_buttons.njk" %}
  </div>
  <div class="min-h-screen bg-gradient-to-b from-sea-dark to-sea-dark2 lg:px-10 xl:pt-24 lg:pt-24 md:pt-2 sm:pt-0  flex items-center justify-center flex-col lg:flex-row">
    {% include "about.njk" %}
    {% include "about_asset.njk" %}
  </div>
</main>
{% endblock %}
