---
title: SB Hacks VII
---

{% extends "layouts/base.njk" %}
{% import "components.njk" as comp %}

{% block body %}
<main class="h-screen rendering-pixelated overflow-x-hidden">
	<div class="fixed z-50 flex flex-row md:flex-col left-1/2 md:left-0 transform -translate-x-1/2 md:translate-x-0 bottom-0 md:bottom-auto md:top-1/2 md:-translate-y-1/2 md:ml-3">
		{% include "social_media.njk" %}
	</div>
  <div class="lg:p-10 bg-gradient-to-b from-sea-100 to-sea-200 h-full flex items-center justify-center flex-col lg:flex-row">
    {% include "event_info.njk" %}
    {% include "apply_buttons.njk" %}
  </div>
  <div class="min-h-screen bg-gradient-to-b from-sea-200 to-sea-300 lg:px-10 xl:pt-24 lg:pt-24 md:pt-2 sm:pt-0  flex items-center justify-center flex-col lg:flex-row">
    {% include "about.njk" %}
    {% include "about_asset.njk" %}
  </div>
  <div class="min-h-screen bg-gradient-to-b from-sea-300 to-sea-400 flex items-center justify-center flex-col lg:flex-row">
  	{% include "faq.njk" %}
  </div>
  <div class="pb-1/12 lg:pb-1/12 min-h-screen bg-gradient-to-b from-sea-400 to-sea-500 lg:px-10 xl:pt-24 lg:pt-24 md:pt-2 sm:pt-0 flex items-center justify-center flex-col lg:flex-row">
    {% include "sponsors.njk" %}
  </div>
</main>
{% endblock %}
